h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ul {
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}